    /* Fonts */
    
    @font-face {
        font-family: MyriadProRegular;
        src: url("../fonts/MYRIADPRO-REGULAR.OTF");
        font-display: swap;
    }
    
    @font-face {
        font-family: MyriadProBold;
        src: url("../fonts/MYRIADPRO-BOLD.OTF");
        font-display: swap;
    }
    
    @font-face {
        font-family: CambriaBold;
        src: url("../fonts/cambriab.ttf");
        font-display: swap;
    }
    
    .gm-wrapper {
        font-family: MyriadProRegular;
        font-size: 10px;
    }
    /* Clear styles */
    
    .gm-wrapper .row {
        margin: 0;
        padding: 0;
    }
    
    .gm-wrapper p {
        margin-bottom: unset;
    }
    /*********************************************/
    /*General styles*/
    
    .gm-wrapper .section .main-section {
        padding: 20px 0 0 40px;
        padding-bottom: 40px;
    }
    
    .gm-wrapper .section.light .main-section {
        border-left: 1px solid #072D56;
    }
    
    .gm-wrapper .section.dark .main-section {
        border-left: 1px solid #fff;
    }
    
    .gm-wrapper .section .section-title {
        font-size: 3.2em;
    }
    
    .gm-wrapper .section .description {
        font-size: 2.4em;
    }
    
    .gm-wrapper .section.light {
        color: #072D56;
    }
    
    .gm-wrapper .section.light .description {
        color: #072D56;
    }
    
    .gm-wrapper .section.dark {
        color: #fff;
    }
    
    .gm-wrapper .section.dark .description {
        color: #fff;
    }
    
    .section.light {}
    
    .section.dark {
        background-color: #072D56;
        color: #fff;
    }
    
    .section .section-title.serif {}
    
    .section .section-title {
        margin-bottom: 20px;
    }
    /* bullet circles */
    
    .circle.outer {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid;
        position: absolute;
        left: -25px;
        top: 20px;
    }
    
    .circle.inner {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #298FCE;
        margin: auto;
        margin-top: 10px;
    }
    
    .light .circle.outer {
        background-color: #fff;
    }
    
    .dark .circle.outer {
        background-color: #072D56;
    }
    /* Navigation */
    
    .gm-navigation-wrapper {
        width: 100%;
        padding: 20px 5%;
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 3;
        color: #2F4454;
        border-bottom: 1px solid #072D56;
    }
    
    .gm-navigation-wrapper .gm-logo {
        height: 53px;
        width: auto;
    }
    
    .gm-navigation-wrapper ul .circle-bullet {
        width: 10px;
        height: 10px;
        background-color: #298FCE;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }
    
    .gm-navigation-wrapper ul.navbar-nav li .nav-link {
        /*float: right;*/
        font-family: MyriadProRegular;
        color: #072D56;
        font-size: 1.7em;
    }
    
    .gm-wrapper .gm-btn {
        border: 1px solid #fff;
        padding: 5px 20px;
        border-radius: 23px;
        cursor: pointer;
    }
    
    .gm-navigation-wrapper .gm-btn.contact {
        border: 1px solid #298FCE;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 2.1em;
        cursor: pointer;
    }
    /* Jumbotron */
    
    .gm-jumbotron-wrapper {
        font-size: 10px;
    }
    
    .gm-jumbotron-wrapper .call-to-action {
        width: 70%;
        top: 250px;
        color: #fff;
        position: absolute;
        right: 0;
        height: 30%;
        opacity: 1;
        z-index: 2;
        font-size: 3.2em;
        padding: 50px;
    }
    
    .gm-jumbotron-wrapper .call-to-action.background {
        background-color: #072D56;
        opacity: 0.6;
        z-index: 1;
    }
    
    .gm-jumbotron-wrapper img {
        height: auto;
        min-height: 450px;
        width: 100%;
        margin-top: 100px;
    }
    
    .gm-jumbotron-wrapper .gm-btn.dark {
        margin-top: 20px;
        display: inline-block;
    }
    
    .gm-jumbotron-wrapper .gm-btn-toggle {
        width: 25px;
        height: 40px;
        padding: 4px;
        display: inline-block;
        background: transparent;
        border: 2px solid #fff;
        position: absolute;
        margin-top: -61px;
        border-radius: 12px;
        margin-left: 50%;
    }
    
    .gm-jumbotron-wrapper .gm-btn-toggle .circle {
        width: 13px;
        height: 13px;
        background-color: #fff;
        border-radius: 50%;
        display: block;
    }
    /*Slogan section*/
    
    .gm-wrapper .gm-slogan-wrapper.section .main-section {
        border: none;
    }
    
    .gm-wrapper .section .section-title.serif {
        font-size: 4em;
        font-family: CambriaBold;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .gm-wrapper .section .description.serif {
        font-size: 3.6em;
    }
    
    .gm-wrapper hr {
        height: 1px;
        width: 90%;
        background-color: #072D56;
    }
    /*About us section*/
    
    .gm-about-us-wrapper {}
    
    .gm-about-us-wrapper .visualization {
        max-width: 1050px;
        padding-bottom: 80px;
        padding-top: 80px;
    }
    
    .gm-about-us-wrapper .visualization .pair {
        text-align: center;
    }
    
    .gm-about-us-wrapper .visualization .pair.top {
        margin-bottom: 100px;
    }
    
    .gm-about-us-wrapper .visualization .pair.bottom {
        margin-top: 100px;
    }
    
    .gm-about-us-wrapper .visualization .pair.bottom img {
        margin-top: 50px;
    }
    
    .gm-about-us-wrapper .visualization .pair span {
        display: block;
        font-size: 2.4em;
        color: #072D56;
        position: absolute;
        width: 305px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .gm-about-us-wrapper .visualization .pair img {
        height: 15em;
    }
    /*Services section*/
    
    .gm-services-wrapper .side-description {
        text-align: left;
    }
    
    .gm-services-wrapper .visualization {
        margin-top: 70px;
        margin-bottom: 70px;
        font-size: 2.1em;
        text-align: center;
        line-height: 2.1em;
        line-height: 1.2em;
    }
    
    .gm-services-wrapper .title {
        margin-bottom: 50px;
        margin-top: 10px;
    }
    
    .gm-services-wrapper .visualization .image-holder {
        width: 200px;
        height: 200px;
        background-size: cover;
        margin: auto;
    }
    
    .gm-services-wrapper .visualization .image-holder.first {
        background-image: url('../images/Gridmetrics/Icons/Services/Energy_theft_identification.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.first:hover {
        background-image: url('../images/Gridmetrics/Icons/Services/Energy_theft_identification_hovered.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.second {
        background-image: url('../images/Gridmetrics/Icons/Services/Price_estimation.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.second:hover {
        background-image: url('../images/Gridmetrics/Icons/Services/Price_estiomation_hovered.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.third {
        background-image: url('../images/Gridmetrics/Icons/Services/Demand_forecasting.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.third:hover {
        background-image: url('../images/Gridmetrics/Icons/Services/Demand_forecasting_hovered.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.fourth {
        background-image: url('../images/Gridmetrics/Icons/Services/Capacity_forecasting.png');
    }
    
    .gm-services-wrapper .visualization .image-holder.fourth:hover {
        background-image: url('../images/Gridmetrics/Icons/Services/Capacity_forecasting_hovered.png');
    }
    /*Why us section*/
    
    .gm-why-us-wrapper {}
    
    .gm-why-us-wrapper .visualization {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .gm-why-us-wrapper .visualization span {
        display: block;
        color: #072D56;
        font-size: 2.2em;
    }
    
    .gm-why-us-wrapper .visualization span.data {
        font-size: 2.4em;
    }
    
    .gm-why-us-wrapper .visualization .gm-btn.blue {
        color: #fff;
        background-image: linear-gradient(to right, red, yellow);
    }
    
    .gm-why-us-wrapper .visualization img {
        width: 100%;
    }
    /*Get to know us*/
    
    .gm-team-wrapper .visualization {
        margin: 50px 0px;
    }
    
    .gm-team-wrapper .visualization .col-4 {
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .gm-team-wrapper .visualization .col-4 .middle {
        padding: 0;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .gm-team-wrapper .visualization .circle {
        width: 30em;
        height: 30em;
        border: 2px solid #fff;
        display: block;
        border-radius: 50%;
    }
    
    .gm-team-wrapper .visualization .circle.center {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    
    .gm-team-wrapper .visualization .circle.left {
        position: absolute;
        right: -3em;
    }
    
    .gm-team-wrapper .visualization .circle.right {
        position: absolute;
        left: -3em;
    }
    
    .gm-team-wrapper .visualization .circle.content {
        display: none;
        border-radius: 50%;
        padding: 5em;
        background-color: black;
        opacity: 0.5;
        z-index: 0;
    }
    
    .gm-team-wrapper .visualization .circle:hover {
        display: inline-block;
    }
    /*Process section*/
    
    .gm-process-wrapper.section.light {
        padding-bottom: 80px;
    }
    
    .gm-process-wrapper .graph img {
        width: 100%;
    }
    
    .gm-process-wrapper .visualization>div:nth-of-type(1),
    .gm-process-wrapper .visualization>div:nth-of-type(3) {
        text-align: right;
        font-size: 25px;
        padding-right: 2%;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    /*Contact section*/
    
    .gm-contact-us-wrapper.section.dark {
        background-color: #072D56;
        height: 850px;
    }
    
    .gm-contact-us-wrapper .contacts {
        font-size: 25px;
    }
    
    .gm-contact-us-wrapper .contacts img {
        width: 20px;
        height: 20px;
    }
    
    .row.contact-form {
        height: 850px;
        width: 85%;
        padding: 4% 3%;
        position: absolute;
        top: -550px;
        background-color: transparent;
        color: white;
        border-radius: 25px;
        z-index: 1;
    }
    
    .contact-form-background {
        height: 800px;
        width: 85%;
        position: absolute;
        top: -550px;
        background-color: #2A9ED8;
        opacity: 0.8;
        border-radius: 25px;
        z-index: 0;
    }
    
    .contact-form input,
    .contact-form textarea {
        line-height: 2em;
        font-size: 2em;
        border-radius: 30px;
        margin-bottom: 50px;
        color: #698196;
        border: none;
    }
    
    .contact-form textarea {
        min-height: 300px;
    }
    
    .contact-form button {
        line-height: 2em;
        font-size: 2em;
        border-radius: 30px;
        border: none;
        background-color: #0B5CB5;
        color: #fff;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .contact-form img {
        width: 10%;
        height: auto;
        display: inline-block;
        position: absolute;
    }
    
    .contact-form span {
        width: 85%;
        font-size: 3.2em;
        display: inline-block;
        padding-bottom: 2%;
        margin-left: 15%;
        line-height: 1.4em;
        margin-bottom: 50px;
    }
    /* Footer */
    
    .gm-footer {
        font-size: 1.6em;
        padding: 30px 5%;
        background-color: #061E33;
        color: #fff;
    }
    
    .social-icons-wrapper {
        float: right;
    }
    
    .social-icons-wrapper img {
        height: 30px;
        margin-right: 20px;
    }
    /*Responsive*/
    
    @media (max-width: 991px) {
        .gm-navigation-wrapper ul .circle-bullet {
            display: none;
        }
        .gm-navigation-wrapper .gm-btn.contact {
            font-size: 17px;
            border: none;
            padding: 0;
        }
        .gm-jumbotron-wrapper .call-to-action {
            width: 90%;
        }
    }